<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>5.2.7</string>
	<key>CFBundleVersion</key>
	<string>5.2.7</string>
	<key>MinimumOSVersion</key>
	<string>10000</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>PingOneSignals</string>
	<key>CFBundleIdentifier</key>
	<string>com.pingidentity.signalssdk</string>
	<key>CFBundleName</key>
	<string>ios_sdk_app</string>
</dict>
</plist>
